<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MarketTrends</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cust_buy_shares_form_check</display-name>
    <servlet-name>cust_buy_shares_form_check</servlet-name>
    <servlet-class>com.service.customer.cust_buy_shares_form_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_buy_shares_form_check</servlet-name>
    <url-pattern>/customer/cust_buy_shares_form_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cust_add_money_check</display-name>
    <servlet-name>cust_add_money_check</servlet-name>
    <servlet-class>com.service.customer.cust_add_money_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_add_money_check</servlet-name>
    <url-pattern>/customer/cust_add_money_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cust_buy_shares_form2_check</display-name>
    <servlet-name>cust_buy_shares_form2_check</servlet-name>
    <servlet-class>com.service.customer.cust_buy_shares_form2_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_buy_shares_form2_check</servlet-name>
    <url-pattern>/customer/cust_buy_shares_form2_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customer_feedback_check</display-name>
    <servlet-name>customer_feedback_check</servlet-name>
    <servlet-class>com.service.customer.customer_feedback_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer_feedback_check</servlet-name>
    <url-pattern>/customer/customer_feedback_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customer_login_check</display-name>
    <servlet-name>customer_login_check</servlet-name>
    <servlet-class>com.service.customer.customer_login_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer_login_check</servlet-name>
    <url-pattern>/customer/customer_login_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cust_sell_share_form_check</display-name>
    <servlet-name>cust_sell_share_form_check</servlet-name>
    <servlet-class>com.service.customer.cust_sell_share_form_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_sell_share_form_check</servlet-name>
    <url-pattern>/customer/cust_sell_share_form_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cust_forgot_pwd_check</display-name>
    <servlet-name>cust_forgot_pwd_check</servlet-name>
    <servlet-class>com.service.customer.cust_forgot_pwd_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_forgot_pwd_check</servlet-name>
    <url-pattern>/customer/cust_forgot_pwd_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comp_forgot_pwd_check</display-name>
    <servlet-name>comp_forgot_pwd_check</servlet-name>
    <servlet-class>com.service.company.comp_forgot_pwd_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comp_forgot_pwd_check</servlet-name>
    <url-pattern>/company/comp_forgot_pwd_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comp_add_money_check</display-name>
    <servlet-name>comp_add_money_check</servlet-name>
    <servlet-class>com.service.company.comp_add_money_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comp_add_money_check</servlet-name>
    <url-pattern>/company/comp_add_money_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_share_no_check</display-name>
    <servlet-name>change_share_no_check</servlet-name>
    <servlet-class>com.service.company.change_share_no_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_share_no_check</servlet-name>
    <url-pattern>/company/change_share_no_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_share_rate_check</display-name>
    <servlet-name>change_share_rate_check</servlet-name>
    <servlet-class>com.service.company.change_share_rate_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_share_rate_check</servlet-name>
    <url-pattern>/company/change_share_rate_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>company_feedback_check</display-name>
    <servlet-name>company_feedback_check</servlet-name>
    <servlet-class>com.service.company.company_feedback_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>company_feedback_check</servlet-name>
    <url-pattern>/company/company_feedback_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>future_plans_check</display-name>
    <servlet-name>future_plans_check</servlet-name>
    <servlet-class>com.service.company.future_plans_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>future_plans_check</servlet-name>
    <url-pattern>/company/future_plans_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>give_dividend_check</display-name>
    <servlet-name>give_dividend_check</servlet-name>
    <servlet-class>com.service.company.give_dividend_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>give_dividend_check</servlet-name>
    <url-pattern>/company/give_dividend_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>revenue_check</display-name>
    <servlet-name>revenue_check</servlet-name>
    <servlet-class>com.service.company.revenue_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revenue_check</servlet-name>
    <url-pattern>/company/revenue_check</url-pattern>
  </servlet-mapping>
  <!-- 
  <servlet>
    <description></description>
    <display-name>ApplicationInitializer</display-name>
    <servlet-name>ApplicationInitializer</servlet-name>
    <servlet-class>com.service.project.ApplicationInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationInitializer</servlet-name>
    <url-pattern>/ApplicationInitializer</url-pattern>
  </servlet-mapping>
   -->
  <servlet>
    <description></description>
    <display-name>RevenueCheck</display-name>
    <servlet-name>RevenueCheck</servlet-name>
    <servlet-class>com.service.company.RevenueCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevenueCheck</servlet-name>
    <url-pattern>/RevenueCheck</url-pattern>
  </servlet-mapping>
</web-app>